{
    "connect": {
        "defaults": {
            "origin": "https://example.com",
            "transport": "session",
            "state": true
        },
        "google": {
            "key": "APP_ID",
            "secret": "APP_SECRET",
            "callback": "/hello",
            "scope": [
                "openid"
            ]
        },
        "twitter": {
            "key": "CONSUMER_KEY",
            "secret": "CONSUMER_SECRET",
            "callback": "/hi"
        }
    }
}